body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#myCanvas{
    display: flex;
    width: 50%;
}
#output{
   background-color: green;
   font-size: 50px;
}